#products-id {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}
.product-card {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s ease;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
}

.super-racket {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    display: none;
}

.product-details {
    padding: 20px;
}

.product-details h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.product-details p {
    font-size: 16px;
    color: #888;
}

@media only screen and (max-width: 992px) {
    .product-card {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .product-card {
        width: calc(50% - 20px);
        margin-right: 0;
    }
}
